/* Importing Poppins font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* Defining root-level custom properties for default (light) theme */
:root {
  --background-color: #F9F9F9; /* Background color for light theme */
  --primary-text-color: #171717; /* Primary text color for light theme */
  --checkbox-color: #4caf50; /* Checkbox color in the light theme */
}

/* Customizing the colors when the data-theme attribute is set to 'dark' */
[data-theme="dark"] {
  --background-color: #171717; /* Background color for dark theme */
  --primary-text-color: #F9F9F9; /* Text color for dark theme */
  --checkbox-color: #f44336; /* Checkbox color in the dark theme */
}

/* Global styles for the body */
body {
  margin: 0px !important; /* Remove default margin */
  background-color: var(--background-color); /* Background color based on theme */
  background-image: url("https://uploads-ssl.webflow.com/62e3ee10882dc50bcae8d07a/631a5d4631d4c55a475f3e34_noise-50.png"); /* Light noise background image */
  padding: 0px 15px; /* Add padding to the sides of the page */
  color: var(--primary-text-color); /* Set text color based on theme */
  font-family: 'Poppins', sans-serif; /* Use Poppins font */
}
