@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --background-color: #F9FAFB;
    --text-color: #083143;
    --new-task-background: #0fbc8f;
    --logo-filter: invert(1);
    --tab-bar-color: #083143;
    --completed-button-color: green;
    --completed-button-hover-color: #083143;
    --modal-button-border-color: #083143;
  }
  
  [data-theme="dark"] {
    --background-color: #083143;
    --text-color: #F9FAFB;
    --new-task-background: #0fbc8f;
    --logo-filter: invert(0);
    --tab-bar-color: #041821;
    --completed-button-color: #3cc53c;
    --completed-button-hover-color: white;
    --modal-button-border-color: white;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

body{
    margin: 0px !important;
    /* background: url("https://uploads-ssl.webflow.com/62e3ee10882dc50bcae8d07a/631a5d4631d4c55a475f3e34_noise-50.png"); */
}

.wrapper{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.flex {
    display: flex;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alignItems{
    display: flex;
    align-items: center;
}

.spaceCenter{
    display: flex;
    justify-content: center;
}

.error {
    color: red;
    font-size: 0.9em;
    margin-top: 0.2em;
  }
  
  input:invalid {
    border-color: red;
  }